<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">CS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-3">Courier Service</h1>
    <p class="lead">An easy doorstep service for you..</p>
  </div>

<div id="myDiv2" class="row">
    <form novalidate [formGroup]="logindeliverypersonform" (ngSubmit)="loginDeliveryPerson()">
        <h1>Login Delivery Person</h1>
        <div class="form-group">
            <label for="deliveryPersonUsername">Delivery Person Username</label>
            <input type="text" name="deliveryPersonUsername" class="form-control" formControlName="deliveryPersonUsername"
                [ngClass]="{ 'is-invalid':deliveryPersonUsername.errors && (deliveryPersonUsername.touched || deliveryPersonUsername.dirty),'is-valid' :deliveryPersonUsername.valid}">
            <div class="invalid-feedback">
                <strong *ngIf="deliveryPersonUsername.errors?.['required']">Username is required </strong>
            </div>
        </div>
        <div class="form-group">
            <label for="deliveryPersonPassword">Password</label>
            <input type="password" name="deliveryPersonPassword" class="form-control" formControlName="deliveryPersonPassword"
                [ngClass]="{ 'is-invalid':deliveryPersonPassword.errors && (deliveryPersonPassword.touched || deliveryPersonPassword.dirty),'is-valid' :deliveryPersonPassword.valid}">
            <div class="invalid-feedback">
                <strong *ngIf="deliveryPersonPassword.errors?.['required']">Password is required </strong>
            </div>
        </div>
        <button type='submit' [disabled]="logindeliverypersonform.invalid"
            class="btn btn-primary">Login</button>

    </form>
</div>
