<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">CS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button (click)="logout()" class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button>
      </form>
    </div>
  </nav>
  
  <div class="jumbotron">
    <h1 class="display-3">Courier Service</h1>
    <p class="lead">An easy doorstep service for you..</p>
  </div>
  
  <div id="myContent">
    <div id="myDiv1">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-profile-admin">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/update-profile-admin">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/manage-customers">Manage Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage-couriers">Manage Couriers</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage-delivery-persons">Manage Delivery Persons</a>
        </li>
      </ul>
    </div>
    <div id="myDiv2">
      <h2>Delivery Persons</h2>
      <p *ngIf="deliveryPersons.length <=0" class="no-data text-center">There is no Delivery Person data yet</p>
      <table class="table table-bordered" *ngIf="deliveryPersons.length > 0">
        <thead>
          <tr class="table-info">
            <th scope="col">Delivery Person ID</th>
            <th scope="col">Delivery Person Name</th>
            <th scope="col">Delivery Person Username</th>
            <th scope="col">Mobile Number</th>
            <th scope="'col">Pickup Location</th>
            <th scope="col center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let delPer of deliveryPersons;let i = index">
            <th scope="row">{{delPer._id}}</th>
            <td>{{delPer.deliveryPersonName}}</td>
            <td>{{delPer.deliveryPersonUsername}}</td>
            <td>{{delPer.deliveryPersonMobileNo}}</td>
            <td>{{delPer.deliveryPersonPickupLocation}}</td>
            <td class="text-center edit-block">
              <span>
                <button type="button" class="btn btn-danger btn-sm" (click)="removeDeliveryPersons(delPer,i)">Delete</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

