
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">CS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button (click)="logout()" class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button>
      </form>
    </div>
  </nav>
  
  <div class="jumbotron">
    <h1 class="display-3">Courier Service</h1>
    <p class="lead">An easy doorstep service for you..</p>
  </div>
  
  <div id="myContent">
    <div id="myDiv1">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-courier">My Courier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-profile-delivery-person">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/update-profile-delivery-person">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/update-status">Update Status</a>
        </li>
      </ul>
    </div>
    <div id="myDiv2">
      <h2>Update Status</h2>
      <form novalidate [formGroup]="updatecourierform">
        <div class="form-group">
          <label for="status">Status (Booked-->Picked Up-->On The Way-->Delivered)</label>
          <input type="text" name="status" class="form-control" formControlName="status"
          [ngClass]="{ 'is-invalid':status.errors && (status.touched || status.dirty),'is-valid' : status.valid}">
          <div class="invalid-feedback">
            <strong *ngIf="status.errors?.['required']">Status is required </strong>
          </div>
        </div>
        <button type='submit' [disabled]="updatecourierform.invalid" (click)="updateCourier()"
          class="btn btn-success">Update</button>
  
      </form>
    </div>
  </div>

